<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel='stylesheet' href='static/css/bootstrap.min.css'>
  <link rel='stylesheet' href='static/css/bootstrap-select.min.css'>

</head>

<body>
  <div class="container">
    <header class="page-header">
      <div class="branding">
        <h1>Vue.js CRUD app with nested modals</h1>
      </div>
    </header>
    <hr />
    <main id="crudapp"></main>
  </div>

  <template id="home-page">
    <section>
      <div>
        <h2>Home Page</h2>
        <router-link to="/posts" class="btn btn-secondary my-2">Posts</router-link>
        <br>
        <router-link to="/categories" class="btn btn-secondary my-2">Categories</router-link>
      </div>
    </section>
  </template>

  <template id="post-list">
    <section>
      <div class="actions">
        <router-link class="btn btn-default" data-toggle="modal" data-target="#create-post-modal"
          :to="{path: '/add-post'}">
          <button class="btn btn-secondary">Make a post</button>
        </router-link>
      </div>
      <div class="filters row">
        <div class="form-group col-sm-3">
          <label for="search-element">Search by post name</label>
          <input v-model="searchKey" class="form-control" id="search-element" requred />
        </div>
      </div>
      <table class="table">
        <thead class="bg-secondary">
          <tr class="text-white">
            <th>Post Name</th>
            <th>Description</th>
            <th>Categories</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="post in filteredPosts">
            <td>
              <router-link :to="{name: 'post', params: {post_id: post.id}}">{{ post.name }}
              </router-link>
            </td>
            <td>{{ post.description }}</td>
            <td>
              {{ post.category.toString() }}
            </td>
            <td>
              <router-link class="btn btn-primary btn-sm" :to="{name: 'edit-post', params: {post_id: post.id}}"
                data-toggle="modal" data-target="#edit-post-modal">Edit</router-link>
              <router-link class="btn btn-danger btn-sm" :to="{name: 'delete-post', params: {post_id: post.id}}"
                data-toggle="modal" data-target="#delete-post-modal">Delete</router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </template>

  <template id="add-post">
    <section>
      <h2>Make a new post</h2>
      <form>
        <div class="form-group">
          <label for="add-name">Name</label>
          <input class="form-control" id="add-name" v-model="post.name" required />
        </div>
        <div class="form-group">
          <label for="add-description">Description</label>
          <textarea class="form-control" id="add-description" rows="10" v-model="post.description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" @click="createPost">Create</button>
        <router-link to="/" class="btn btn-default">Cancel</router-link>
      </form>
    </section>
  </template>

  <template id="post">
    <section>
      <h2>{{ post.name }}</h2>
      <b>Description: </b>
      <div>{{ post.description }}</div>
      <b>Category:</b>
      <div>{{ post.category.toString() }}</span></div>
      <br />
      <router-link to="/">Back to posts list</router-link>
    </section>
  </template>

  <template id="edit-post">
    <section>
      <h2>Edit post</h2>
      <form>
        <div class="form-group">
          <label for="edit-name">Name</label>
          <input class="form-control" id="edit-name" v-model="post.name" />
        </div>
        <div class="form-group">
          <label for="edit-description">Description</label>
          <textarea class="form-control" id="edit-description" rows="3" v-model="post.description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" @click="updatePost">Save</button>
        <router-link to="/" class="btn btn-default">Cancel</router-link>
      </form>
    </section>
  </template>

  <template id="delete-post">
    <section>
      <h2>Delete post {{ post.name }}</h2>
      <form>
        <p>The action cannot be undone.</p>
        <button type="submit" class="btn btn-danger" @click="deletePost">Delete</button>
        <router-link to="/" class="btn btn-default">Cancel</router-link>
      </form>
    </section>
  </template>

  <template id="categories">
    <section>
      <div class="actions mb-3">
        <router-link class="btn btn-default" data-toggle="modal" data-target="#create-category-modal"
          :to="{path: '/add-category'}">
          <button class="btn btn-secondary">Add Category</button>
        </router-link>
      </div>
      <table class="table">
        <thead class="bg-secondary">
          <tr class="text-white">
            <th>ID</th>
            <th>Name</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="category in categories" v-bind:id="category.id">
            <td v-bind:id="category.id">
              {{ category.id }}
            </td>
            <td>{{ category.name }}</td>
            <td>
              <router-link class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edit-category-modal"
                :data-id="category.id" :to="{name: 'edit-category', params: {category_id: category.id}}">Edit
              </router-link>
              <router-link class="btn btn-danger btn-sm"
                :to="{name: 'delete-category', params: {category_id: category.id}}" data-toggle="modal"
                data-target="#delete-category-modal" :data-id="category.id">
                Delete</router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </template>

  <template id="add-category">
    <section>
      <h2>Add new category</h2>
      <form>
        <div class="form-group">
          <label for="add-name">Name</label>
          <input class="form-control" id="add-name" v-model="category.name" required />
        </div>
        <button type="submit" class="btn btn-primary" @click="createCategory">Create</button>
        <router-link to="/" class="btn btn-default">Cancel</router-link>
      </form>
    </section>
  </template>

  <template id="edit-category">
    <section>
      <h2>Edit Category</h2>
      <form>
        <div class="form-group">
          <label for="edit-name">Name</label>
          <input class="form-control" id="edit-name" v-model="category.name" />
        </div>
        <button type="submit" class="btn btn-primary" @click="editCategory">Save</button>
        <router-link to="/" class="btn btn-default">Cancel</router-link>
      </form>
    </section>
  </template>

  <template id="delete-category">
    <section>
      <h2>Delete category {{ category.name }}</h2>
      <form>
        <p>The action cannot be undone.</p>
        <button type="submit" class="btn btn-danger" @click="deleteCategory">Delete</button>
        <router-link to="/" class="btn btn-default">Cancel</router-link>
      </form>
    </section>
  </template>

  <!-- Modal Delete Category -->
  <div class="modal fade" id="delete-category-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Category Delete</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <section>
            <h2 id="pid">Delete category </h2>
            <form v-on:submit="deleteCategory">
              <p>The action cannot be undone.</p>
              <button type="button" class="btn btn-danger" id="delete-category-btn" data-CatID="">Delete</button>
              <button class="btn btn-default" id="cancel">Cancel</button>
            </form>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Edit Category -->
  <div class="modal fade" id="edit-category-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Category Edit</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <section>
            <h2>Edit Category</h2>
            <form id="categoryEditForm">
              <div class="form-group">
                <label for="edit-name">Name</label>
                <input class="form-control" id="edit-name" name="name" />
              </div>
              <button type="submit " class="btn btn-danger" id="edit-category-btn" data-catName="">Save</button>
              <router-link to="/" class="btn btn-default">Cancel</router-link>
            </form>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Create new Category -->
  <div class="modal fade" id="create-category-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Category Add</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <section>
            <h2>Create New Category</h2>
            <form id="createForm">
              <div class="form-group">
                <label for="create-name">Name</label>
                <input class="form-control" id="create-name" name="name" required />
              </div>
              <button type="submit" class="btn btn-danger" id="create-category-btn" data-catName="">Create</button>
              <router-link to="/" class="btn btn-default">Cancel</router-link>
            </form>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Create new Post -->
  <div class="modal fade" id="create-post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Post Add</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <section>
            <h2>Create New Post</h2>
            <form id="postCreateForm">
              <div class="form-group">
                <label for="create-name">Name</label>
                <input class="form-control" id="create-name" name="namePost" required />
              </div>
              <div class="form-group">
                <label for="add-description">Description</label>
                <textarea class="form-control" id="add-description" name="description" rows="10"
                  v-model="product.description"></textarea>
              </div>
              <div class="form-group" id="edit-categories" name="categoryList">
                <select class="selectpicker" id="createFormSelected" name="selectedPosts" multiple>
                  <option value="Create new category">
                    Create new category
                  </option>
                </select>
              </div>
              <button type="submit" class="btn btn-danger mt-4" id="create-post-btn" data-postName="">Create</button>
              <router-link to="/" class="btn btn-default mt-4">Cancel</router-link>
            </form>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Edit Post -->
  <div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Post Edit</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <section>
            <h2>Edit Post</h2>
            <form id="postEditForm">
              <div class="form-group">
                <label for="edit-name">Name</label>
                <input class="form-control" id="edit-name" name="editNamePost" />
              </div>
              <div class="form-group">
                <label for="edit-description">Description</label>
                <textarea class="form-control" id="edit-description" name="editDescription" rows="3"
                  v-model="product.description"></textarea>
              </div>
              <div class="form-group" id="edit-categories" name="categoryList">
                <select class="selectpicker" id="editFormSelected" name="selectedPosts" multiple>
                  <option value="Create new category">
                    Create new category
                  </option>
                </select>
              </div>
              <button type="submit " class="btn btn-danger mt-4" id="edit-post-btn" data-postName="">Save</button>
              <router-link to="/" class="btn btn-default mt-4">Cancel</router-link>
            </form>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Delete Post -->
  <div class="modal fade" id="delete-post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Post Delete</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <section>
            <h2 id="pid">Delete post </h2>
            <form v-on:submit="deleteCategory">
              <p>The action cannot be undone.</p>
              <button type="button" class="btn btn-danger" id="delete-post-btn" data-postID="">Delete</button>
              <router-link to="/" class="btn btn-default">Cancel</router-link>
            </form>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <script src='static/js/vue.js'></script>
  <script src='static/js/vue-router.js'></script>
  <script src='static/js/jquery-3.2.1.slim.min.js'></script>
  <script src='static/js/popper.min.js'></script>
  <script src='static/js/bootstrap.min.js'></script>
  <script src='static/js/bootstrap-select.min.js'></script>
  <script src="static/js/index.js"></script>
</body>

</html>
